@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
html, body, div, header, section, article, aside, footer, nav, h1, h2, h3, ul, li, form, fieldset, legend, label, input, select, option, a, img, span, p{margin: 0; padding: 0; box-sizing: border-box;}
header, section, article, aside, footer, nav{display: block;}
html, body, input, select, button{font-size: 16px; color: #333; font-family: 'λ…Έν† μ‚°μ¤', 'Noto Sans KR', dotum, sans-serif;}
ul{list-style: none;}
img, fieldset{border: none;}
a{text-decoration: none; color: #333;}
img, select, input{vertical-align: middle;}
.skip, legend{width: 1px; height: 1px; line-height: 0; visibility: hidden; overflow: hidden; position: absolute; left: -9999px;}

#skipNavi{position: absolute; width: 100%;}
#skipNavi a{position: absolute; top: -100px;}
#skipNavi a:hover, #skipNavi a:focus, #skipNavi a:active{position: absolute; top: 0; display: block; width: 100%; padding: 10px 0; text-align: center; font-size: 16px; color: #fff; background: #333;}

.clearfix:after{content: ''; display: block; clear: both;}
