@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
#container{width: 100%;}
.introwrap{width: 100%; height: 40px; background: #f1f1f1;}
.intro{width: 1200px; margin: 0 auto; height: 40px; overflow: hidden;}
.intro .intro_pageinfo{line-height: 40px; float: left; font-size: 14px; padding-left: 30px; background: url(../images/home.png) no-repeat 0 center;}
.intro .intro_icon{overflow: hidden; float: right;}
.intro .intro_icon li{float: left; margin-left: 8px;}
.intro .intro_icon li a{display: block; margin-top: 5px;}

.contentwrap{width: 1200px; margin: 0px auto 30px auto;}
.contents{overflow: hidden; width: 1200px; height: auto;}

.lnb{width: 220px; float: left; margin-right: 30px; height: 100%;}
.lnb h2{width: 220px; height: 150px; background: url(../images/lnb_bg.gif); color: #fff; text-align: center; line-height: 150px; font-size: 25px;}
.lnb .left_menu > li{font-weight: bold; line-height: 50px; border-bottom: 1px solid #d9d9d9; font-size: 15px; background: url(../images/sub_menu_bg.png) no-repeat 195px 20px;}
.lnb .left_menu a{display: block; padding-left: 10px;}
.lnb .left_menu .current{background: #d6d6d6;}
.left_menu .left_depth2{background: #f1f1f1;}
.left_menu .left_depth2 li{font-weight: normal; height: 30px; line-height: 30px; padding-left: 10px; background: url(../images/bg_list.png) no-repeat 10px;}

.subContentWrap{float: left; width: 949px;}
.content_tit{height: 149px; background: url(../images/sub_bg_3.gif) no-repeat right 0; border-bottom: 1px solid #d9d9d9;}
.content_tit h3{padding: 95px 0 0 20px; font-size: 30px;}
.subContent{width: 949px;}
.table_search{border-collapse: collapse; width: 100%;}
.table_search th{border-right: 1px solid #d9d9d9;}
.table_search th, .table_search td{border-bottom: 1px solid #d9d9d9; height: 60px; padding: 0 20px;}
.table_search tbody{border-top: 2px solid #f0ae31;}
input[type="button"], input[type="submit"]{padding: 5px; margin: 0 2px; cursor: pointer;}
.table_search .termw{float: left; padding: 19px;}
.table_search .termw_2{overflow: hidden; float: left;}
.table_search .termwrap{position: relative; margin: 20px 10px; height: 30px; float: left;}
.termwrap input[type="image"]{position: absolute; top: 5px; right: 10px;}
input[type="text"]{border: 1px solid #797979; height: 25px; width: 130px; line-height: 25px; padding-left: 10px;}
input[type="text"].searchfrm{width: 300px; margin-right: 5px;}

.partnameBtn{overflow: hidden; margin: 20px auto;}
.partnameBtn li{float: left; width: 157px; margin: 8px 15px; text-align: center; height: 30px; line-height: 30px; border: 1px solid #00a0ff;}
.partnameBtn a{display: block;}
.partnameBtn li:hover, .partnameBtn li.currentBtn{background: #00a0ff;}
.partnameBtn li:hover a, .partnameBtn li.currentBtn a{color: #fff;}

.total_num{font-weight: bold;}

.t_contents{line-height: 30px; border-collapse: collapse; width: 100%; text-align: center; margin: 20px auto;}
.t_contents th{border-top: 2px solid #355734; background: #e6e6e6;}
.t_contents td{border-bottom: 1px solid #d9d9d9;}

.paging{overflow: hidden; width: 230px; margin: 0 auto;}
.paging li{float: left;}
.paging .now{color: #e76708;}
.paging li a{display: block; width: 15px; height: 18px; line-height: 18px; text-align: center; margin: 0 5px;}

.managerWrap{width: 849px; margin-top: 30px; background: #f1f1f1; border-bottom: 1px solid #fff; padding: 20px 50px;}
.manager{overflow: hidden;}
.manager dt{float: left;}
.manager dd{float: left; padding: 0 20px; width: 35%; background: url(../images/bg_bar.png) no-repeat 10px 2px;}

.survey{padding: 20px 50px; background: #f1f1f1;}
.surveyTit{font-weight: bold; font-size: 15px;}
.radio_input{margin: 15px 0;}
.survey input[type="text"]{width: 730px;}
